<!DOCTYPE HTML>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artist/ - New Autore</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" href="css/index_style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet"/>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    
</head>
<body>

		<header class="header clearfix">
	      <a href="./index.html" class="header__logo">Artist/</a>
	      <a href="" class="header__icon-bar">
	        <span></span>
	        <span></span>
	        <span></span>
	      </a>
	    </header>
    
        <form action="#" th:action="@{./autore}" th:object="${autore}" method="post">
            <div>
                <div>
                    <span th:text="#{label.name}">Nome: </span>
                    <span><input type="text" th:field="*{nome}" /></span>
                    <span th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.surname}">Cognome: </span>
                    <span><input type="text" th:field="*{cognome}" /></span>
                    <span th:if="${#fields.hasErrors('cognome')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.nationality}">Nazionalita': </span>
                    <span><input type="text" th:field="*{nazionalita}" /></span>
                    <span th:if="${#fields.hasErrors('nazionalita')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span>Data di nascita: </span>
                    <span><input type="date" id="data_nascita" name="data_nascita" /></span>
                    <span th:if="${#fields.hasErrors('dataDiNascita')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span>Data di morte: </span>
                    <span><input type="date" id="data_morte" name="data_morte" /></span>
                    <span th:if="${#fields.hasErrors('dataDiMorte')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span><button type="submit">Submit</button></span>
                </div>
            </div>
        </form>
        
        <br/>
	    <div>
	    	<div>
			    <a href="./admin.html" class="button">ADMIN page</a>
			</div>
	    </div>
	   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
	    <script>
      $(document).ready(function(){

        $(".header_icon-bar").click(function(e){

          $(".header_menu").toggleClass("is-open");
          e.preventDefault();

        });
      });
    </script>
    
	<script type="text/javascript" src="js/constraintError.js"></script>   
</body>
</html>