<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Opere</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	   <div>
                <h1>Opere</h1>

                <table>
                    <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Anno</th>
                        <th>Tecnica</th>
                        <th>Dimensioni</th>
                        <th>Autore</th>
                        
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="opera : ${allOpere}">
                        <td th:text="${opera.titolo}"></td>
                        <td th:text="${opera.anno}"></td>
                        <td th:text="${opera.tecnica}"></td>
                        <td th:text="${opera.dimensioni}"></td>
                        <td><a href="/showAutore.html" th:text="${opera.autore}"></a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        	<div sec:authorize="hasRole('ADMIN')">
                        		<p><a href="/deleteOpera">Elimina</a></p>
                        	</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                
                <br />
		        <div>
		            <div>
		                <a href="/index.html">Home</a>
		            </div>
		        </div>
		        
		        <br/><br/>
		        <span sec:authorize="isAuthenticated()">
	                
	                | Logged user: <span sec:authentication="name"></span> |
	                | Roles: <span sec:authentication="principal.authorities"></span> |
	                
            	</span>
            
        </div>
    
</body>
</html>